// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

$primary:#0b2051;
$secondary:#f16029;
$info:#367fd3;

// Variables
@import 'variables';



// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';